@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  background: linear-gradient(135deg, rgba(12,50,52,1) 7%, rgba(85,117,91,1) 66%, rgba(138,173,152,1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}

.login-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.login-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;

  p {
    margin: 2px;
    display: flex;
    justify-content: center;
  }
}

.login-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: #8aaa9853;

  h1 {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
    font-size: 30px;
    font-weight: 600;
  }
}

.login-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  input {
    height: 33px;
    margin: 7px;
    width: 300px;
    font-family: "Montserrat", sans-serif;
    padding-left: 20px;
    font-weight: 500;
  }

  input::placeholder{
    color: #b3b3b3a5;
  }

  button {
    height: 43px;
    width: 150px;
    margin: 30px;
    border-radius: 7px;
    border-style: none;
    font-size: 20px;
    font-weight: 550;
    font-family: "Montserrat", sans-serif;
    color: #0c3234;
  }
}

.right-nav { 
  width: 150px; 
  height: 300px; 
  border-radius: 150px 0 0 150px;
  background-color: #769482;
  border: none;
}
.left-nav { 
  width: 150px; 
  height: 300px; 
  border-radius: 0 150px 150px 0;
  background-color: #8aad986e;
  border: none;
}