@font-face {
  font-family: 'Pretendard-M';
  src: url('./fonts/Pretendard-Medium.ttf');
}
body {
  background-image: url('./img/background.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: white;
  font-family: "Pretendard-M";
  /* font-style: normal; */
  letter-spacing: -0.02em!important;
  margin: 0;
}

.login-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 43px;

  p {
    margin: 2px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
  }
}

.login-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 430px;
  margin-bottom: 90px;
  border-radius: 50%;
  background-color: #a8b0ae35;

  h1 {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    font-size: 35px;
  }
}

.login-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  input {
    height: 35px;
    margin: 7px;
    width: 270px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
  }

  input::placeholder{
    color: #b2b2b2;
  }

  button {
    height: 40px;
    width: 140px;
    margin: 30px;
    padding-bottom: 3px;
    border-radius: 7px;
    border-style: none;
    font-size: 21px;
    font-weight: 550;
    color: #0c3234;
    text-align: center;
  }
}