@font-face {
  font-family: 'Pretendard-M';
  src: url('./fonts/Pretendard-Medium.ttf');
}

@font-face {
  font-family: 'Pretendard-R';
  src: url('./fonts/Pretendard-Regular.ttf');
}

@font-face {
  font-family: 'Pretendard-B';
  src: url('./fonts/Pretendard-Bold.ttf');
}

body {
  background-image: url('./img/background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  height: 100vh;
  margin: 0;
}
