@font-face {
  font-family: 'Pretendard-B';
  src: url('./fonts/Pretendard-Bold.ttf');
}
@font-face {
  font-family: 'Pretendard-SB';
  src: url('./fonts/Pretendard-SemiBold.ttf');
}
@font-face {
  font-family: 'Pretendard-R';
  src: url('./fonts/Pretendard-Regular.ttf');
}
@font-face {
  font-family: 'NotoSans-R';
  src: url('./fonts/NotoSansKR-Regular.ttf');
}

body {
  background-image: url('./img/background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: white;
  margin: 0;
}

.signin-form {
  width: 90%;
  
  option {
    background-color: #0c3234;
    color: #eee;
  }
}

.signin-element {
  background-color: rgba(255, 255, 255, 0.251);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 650px;
  border-radius: 10%;

  h1 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 60px;
    font-family: 'Pretendard-B';
    font-size: 26;
  }

  h2 {
    font-family: 'Pretendard-SB';
    font-size: 21px;
    margin-bottom: 2px;
  }

  hr {
    margin: 0;
    border: 0;
    border-bottom: 1.4px dashed #eee;
    background: #999;
  }
  span {
    margin-right: 25px;
    text-align: right;
  }

  input {
    background: none;
    height: 23px;
    padding: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    border-width: 1.3px;
    color: white;
  }
  select {
    background: none;
    height: 30px;
    padding: 3px;
    width: 120px;
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    border-width: 1.3px;
    color: white;
  }
}

.personal-info {
  display: flex;
  flex-direction: column;
  margin: 8px 0 60px 0;
  font-family: 'Pretendard-R';
  font-size: 15;

  label {
    font-size: 15px;
    text-align: right;
    width: 60px;
    margin: 10px 40px 10px 0;
  }
}

.name-gender{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0 15px 0;

  input {
    /* 수동 조절 함.. */
    width: 120px;
    margin-right: 120px;
  }
}

.input-container {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 5px 0 15px 0;

  input {
    margin-left: 5px;
  }

  select {
    margin-left: 3px;
  }
}

.class-info {
  display: flex;
  flex-direction: column;
  margin: 8px 0 60px 0;

  hr {
    margin-bottom: 8px;
  }
  input {
    width: 100px;
  }
}

.label-small {
  font-size: 14px;
  text-align: right;
  width: 60px;
  margin: 10px 40px 10px 0;
}
.label-big {
  font-size: 14px;
  text-align: right;
  width: 100px;
  margin: 10px 40px 10px 0;
}

.registration-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 15px 0;
  input {
    width: 120px;
    margin-right: 80px;
  }
}

.payment_option {
  display: flex;
  width: 100px;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

.lesson-info-container {
  display: flex;
  margin: 5px 0 15px 0;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  select {
    margin-left: 3px;
  }
}

/* 기본 셀렉트 스타일 */
.custom-select {
  position: relative;
  display: inline-block;
  width: auto;
  font-size: 15px;

  img {
    width: 10px;
    height: 10px;
  }
}
/* 선택된 항목 스타일 */
.select-selected {
  background-color: none;
  height: 23px;
  width: 70px;
  padding-top: 5px;
  margin: 5px;
  border: 1.3px solid white;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
}

/* 드롭다운 아이템 컨테이너 */
.select-items {
  display: none;
  position: absolute;
  width: 90%;
  max-height: 200px; /* 한 번에 10개 정도만 보이도록 제한 */
  overflow-y: auto;  /* 스크롤 추가 */
  background-color: white;
  border: 1px solid #ccc;
  z-index: 100;
  box-sizing: border-box;
  color: #999;
}

/* 드롭다운 항목 스타일 */
.select-items div {
  padding: 1.5px 10px;
  cursor: pointer;

}

.select-items div:hover {
  background-color: #22a49788;
}

/* 드롭다운 아이템 마지막 항목에서 밑줄 제거 */
.select-items div:last-child {
  border-bottom: none;
}

.submit-btn-container {
  display: flex;
  flex-direction: row-reverse;
}

.submit-btn {
  width: 75px;
  height: 30px;
  font-family: 'Pretendard-R';
}